---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="intro">
			<div class="container">
				<img src="/assets/ucsd_grad.png" width="29%" height="auto" alt="ucsd_grad.png" loading="eager" onerror="this.onerror=null; $('.responsive-img-srcset').remove();"
				style="float: right; margin-right: 10px;">
				<h2 style="font-size: 16px;">About me.</h2>
				 <p style="font-size: 20px"> 
					I am a Data Scientist student, actively pursuing Master's programs after graduating from the <a href="https://datascience.ucsd.edu/">University of California, San Diego </a>.
					<br><br>
					During my residential education at Tattvagnaan Vidhyapeeth in Mumbai, I felt helpless watching my home state of California burn from the other side of the world. Since then, I have been passionate about leveraging <mark style="background-color: #a9c19198">data science</mark> and <mark style="background-color: #a9c19198">machine learning</mark> to address <mark style="background-color: #a9c19198">climate change and environmental challenges.</mark>
					<br><br>
					This is a small subset of my projects and work so far. Feel free to explore and reach out if you'd like to connect!
				</p>
				<!-- <p style="font-size:10px;">
					Robotics x Machine Learning | Computer Vision
				</p> -->
			</div>
		</section>
		<section class="projects">
			<div class="container">
				<h1>Projects<br><br></h1>
				<ul class="projects-list">
					{% for item in site.categories.projects %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h2">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>

		<!-- <section class="projects">
			<div class="container">
				<h1>Class Work<br><br></h1>
				<ul class="projects-list">
					{% for item in site.categories.class_projects %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h2">{{ item.project.type }}</span>
								<h3>{{ item.project.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section> -->
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>