<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2 style="color: black; font-size: 1.5rem;">Contact</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section>
		<section class="follow">
			<h2 style="color: black; font-size: 1.5rem;">Follow</h2>
			<ul class="no-bullet">
				<li><a title="LinkedIn" href="{{ site.linkedin }}" target="_blank">LinkedIn</a></li>
				<li><a title="Github" href="{{ site.github }}" target="_blank">Github</a></li>
			</ul>
		</section>
	</div>
</footer>